[submodule "3rdParty/custom-brand-icons"]
	path = 3rdParty/custom-brand-icons
	url = https://github.com/elax46/custom-brand-icons.git
[submodule "3rdParty/MaterialDesign"]
	path = 3rdParty/MaterialDesign
	url = https://github.com/Templarian/MaterialDesign.git
